
<div class="w-200 justify-content-center mt-5 bg-danger p-2">
  <div class= "text-center">
  <p><%= @questions%></p>
  </div>
  <div class= "text-center">
  <p><%= @answer%></p>
  </div>
</div>
  <div class= "text-center">
  <%= link_to "Others Questions?", ask_path %>
  </div>
